@page "/pizzas"
@using BlazingPizza.Services
@inject PizzaService PizzaSvc

<h1>Choose your pizza</h1>

<p>We have all these delicious pizzas to choose from:</p>

@if (todaysPizzas == null)
{
    <p>We're finding out what pizzas are available today...</p>
}
else
{
    <!-- This markup will be rendered once the pizzas are loaded -->
}

@code {
    private Pizza[] todaysPizzas;

    protected override async Task OnInitializedAsync()
    {
        todaysPizzas = await PizzaSvc.GetPizzasAscync();
    }
}
